{{>header}}

<div class="landing">

    <div class="logo"></div>

    <h1>Oinky</h1>

    <p>A blazing fast static site generator that compiles Handlebars templates and Markdown files into a static site. Most notably enables the use of a DSL to generate data-sets from Markdown files which can be used within Handlebars templates to create complex websites.</p>

    <h3>Install</h3>

    <pre><code>curl -s -L https://oinky.io/install.sh | bash -s</code></pre>

</div>

{{>footer}}