{{>header}}

<!-- intro -->
<div class="intro">

    <h2><span>{{content.intro.meta.title}}</span></h2>
    
    <div class="entry">{{{content.intro.entry}}}</div>

</div>
<!-- // intro -->

{{>footer}}