@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&display=swap');

/** RESET */
* {
    font-size: 13px;
    color: #fff;
    letter-spacing: -0.1px;
    box-sizing: border-box;
    position: relative;
    padding: 0;  
    margin: 0;
}

html {
    padding: 100px;
}

@media all and (max-width: 800px) {
    html {
        padding: 25px;
    }
}

body {
    display: flow-root;
    font-family: "Fira Code", monospace;
    font-size: 13px;
    width: 800px;
    line-height: 1.95;
    background: #1B2021;
    margin: 0 auto;
}

@media all and (max-width: 1000px) {
    body {
        width: 100%;
    }
}

a {
    color: #EA638C;
}

p {
    margin-bottom: 25px;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

em {
    color: #bbb;
    border-bottom: 1px dotted #444;
    padding-bottom: 2px;
}

code {
    background: rgba(255,255,255,.05);
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 3px;
    padding: 2px 4px 2px 4px;
}

pre {
    background: rgba(255,255,255,.05);
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 3px;
    overflow: auto;
    padding: 15px 25px 15px 25px;
    margin-bottom: 25px;
}

pre code {
    background: transparent;
    border: 0;
    padding: 0;
}

strong {
    font-weight: 600;
}

ul {
    margin-left: 20px;
    margin-bottom: 25px;
}

li > ul {
    margin-bottom: 0;
}

/** SIDEBAR */
.sidebar {
    float: left;
    width: 200px;
    position: sticky;
    top: 100px;
}

@media all and (max-width: 1000px) {
    .sidebar {
        display: none;
    }

    .sidebar.mobile-show {
        display: block;
        width: 80%;
        height: 100%;
        float: none;
        background: #111;
        padding: 25px;
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
    }
}

.mobile-header {
    display: none;
    margin-bottom: 25px;
}

@media all and (max-width: 1000px) {
    .mobile-header {
        display: block;
    }
}

.sidebar h1,
.mobile-header h1 {
    bottom: -5px;
}

.sidebar h1 a,
.mobile-header h1 a {
    display: block;
    height: 17px;
    line-height: 17px;
    text-decoration: none;
    text-transform: uppercase;
}

.sidebar h1 img,
.mobile-header h1 img {
    width: 17px;
    height: 17px;
}

.sidebar h1 .name,
.mobile-header h1 .name {
    vertical-align: top;
}

.sidebar h1 .version,
.mobile-header h1 .version {
    font-size: 12px;
    font-weight: 400;
    color: #666;
    vertical-align: top;
}

.sidebar .menu {
    margin-top: 25px;
    margin-bottom: 50px;
}

.sidebar .menu h2 {
    font-size: 13px;
    text-transform: uppercase;
    color: #ddd;
    margin-bottom: 5px;
}

.sidebar .menu a {
    display: block;
    text-decoration: none;
    color: #777;
    margin-bottom: 3px;
}

.sidebar .menu a:hover {
    color: #999;
}

.sidebar .menu a.active {
    color: #fff;
}

.sidebar .menu a.active:before {
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    background: #555;
    border-radius: 100%;
    position: absolute;
    top: 9px;
    left: -13px;
}

/** CONTENT */
.content {
    float: right;
    width: 600px;
}

@media all and (max-width: 1000px) {
    .content {
        float: none;
        width: 100%;
    }
}

.content .title {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
}

.content h2 {
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 75px;
    margin-bottom: 25px;
}

.content h2:before {
    display: inline-block;
    content: '##';
    color: #666;
    margin-right: 8px;
}

.content .title:before {
    display: none;
}

.content h3 {
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 75px;
    margin-bottom: 25px;
}

.content h3:before {
    display: inline-block;
    content: '###';
    color: #666;
    margin-right: 8px;
}

/** INTRO */
.intro {
}

.intro h2 {
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    margin-top: -55px;
    margin-bottom: 50px;
}

@media all and (max-width: 800px) {
    .intro h2 {
        margin-top: 0;
    }
}

.intro h2:before {
    display: none;
}

.intro h2 span {
    font-size: 78px;
    color: #1B2021;
    line-height: 1.55;
    background: #F08CAE;
}

@media all and (max-width: 800px) {
    .intro h2 span {
        font-size: 50px;
    }
}

.intro p {
    display: inline;
    background: rgba(255,255,255,.15);
}