    </div> <!-- // content -->
    
    <script src="/assets/highlight.min.js"></script>
    <script>
    hljs.highlightAll();

    function showSidebar() {
        document.querySelector('.sidebar').classList.add('mobile-show');
        return false;
    }
    </script>
</body>
</html>