<!DOCTYPE html>
<html>
<head>
    <title>Oinky</title>
    <link rel="stylesheet" href="/style.css">
    <script defer data-domain="oinky.io" src="https://plausible.io/js/plausible.js"></script>
</head>
<body>