{{>header}}

<div class="docs">

    <div class="menu">
        
        <ul>
        {{#each content.docs}}

            <li {{#is_slug slug}} class="active" {{/is_slug}}>
                <a href="{{slug}}">{{meta.title}}</a>
            </li>

        {{/each}}
        </ul>
    
    </div>

    <div class="content">

        <h2 class="title">{{meta.title}}</h2>

        <div class="entry">{{{entry}}}</div>

    </div>

</div>

{{>footer}}